@use "../color";
@use "../variable";
@use "./header";
@use "./main";
@use "./footer";

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  background-color: var(--background-color);
}
